* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #bcbcbc;
    font-size: 14px;
}

button {
    background: rgb(0, 123, 255);
    color: white;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #005fcc;
}
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: rgb(0, 123, 255);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.3rem;
    font-weight: bold;
}

.logo-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 10px;
    transition: 0.2s;
}

nav ul li a:hover {
    background: #333;
    border-radius: 5px;
}

/* Para evitar que el contenido quede debajo del header */
body {
    padding-top: 70px;
}